* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    max-width: 1440px !important;
    scroll-behavior: smooth;
    max-width: 1400px;
    margin: auto;
}
div {
display: block;
}
.header-line {
    display: flex;
    background: #0C0C0E;
}
.name {
    color: #FFF;
    font-family: 'Forum';
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    padding-left: 17px;
    padding-top: 20px;
}
.menu-header {
    display: inline-flex;
    gap: 30px;
    padding-left: 0;
    margin-left: 456px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-right: 20px;
}
.menu-header-link {
    list-style-type: none;
    align-items: flex-start;
    color: #FFF;
    font-family: 'Inter';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    text-decoration: none;

}
.menu-header-link:hover {
    cursor: pointer;
    font-weight: 800;
    color: #BB945F;
}
.icon-header {
    width: 48px;
    height: 28px;
    flex-shrink: 0;
    margin-top: 30px;
    margin-bottom: 20px;
    color: rgba(255, 255, 255, 1);
    border-radius: 20px;
    border-color: #000;
    padding-left: 22px;
}
.welcome-text {
    color: #FFF;
    text-align: center;
    font-family: 'Forum';
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding: 254px 800px 0px 0px;
}
.welcome-image {
    width: 1440px;
    height: 600px;
    background: linear-gradient(#0C0C0E 0%, #0C0C0E 0.01%, rgba(18, 18, 21, 0.1)), url(welcome-icn.png);
    margin-top: 0px;
}
.about {
    background: #FFF;
}
.header-1 {
    text-align: center;
    color: #0C0C0E;
    font-family: 'Forum';
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    padding: 20px 0px 10px 5px;
}
.title{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.hr-about {
    width: 50px;
    height: 1px;
    flex-shrink: 0;
    background: #0C0C0E;
    margin-top: 9px;
}
.description {
    color: #000;
    text-align: center;
    font-family: 'Inter';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    padding: 20px;

}
.images-library {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    flex-direction: column;
    display: inline;
    width: 450px;
    height: 560px;
    flex-shrink: 0;
}
#img-1 {
padding: 0px 20px 0px 20px;
}
#img-3 {
    padding: 0px 0px 0px 22px;
    }
.dotes {
    display: block;
    text-align: center;
    margin-top: 38px;
}
.header-2 {
    text-align: center;
    color: #0C0C0E;
    font-family: 'Forum';
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    padding: 55px 0px 10px 0px;
}
.favorite-season {
    color: #000;
    font-family: 'Inter';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 38px;
    margin-left: 21px;
    padding-top: 21px;
}
.season-pick {
display: inline-block;
color: #000;
font-family: 'Inter';
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-bottom: 30px;
padding-left: 22px;
letter-spacing: 4px;
}
.season-pick label {
    display: inline-block;
    cursor: pointer;
}
input[type='radio'] {
    accent-color: #000000;
}
#winter {
    padding-right: 65px;
    letter-spacing: 0.2px;
    font-family: 'Inter';
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    Line-height: normal;
    padding-left: 11px;
}
#spring {
    padding-right: 61px;
    letter-spacing: 0.1px;
    font-family: 'Inter';
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    Line-height: normal;
    padding-left: 11px;
}
#summer {
    padding-right: 60px;
    letter-spacing: 0.5px;
    font-family: 'Inter';
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    Line-height: normal;
    padding-left: 11px;
    letter-spacing: 0.1px;
}
#autumn {
    letter-spacing: 0.5px;
    font-family: 'Inter';
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    Line-height: normal;
    padding-left: 11px;
    letter-spacing: 0.1px;
}
.favorites {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    }
    .favorite-1 {
        position: relative;
        border:  1px solid #000;
        padding-left: 20px;
        margin-bottom: 40px;
        width: 550px;
        height: 555px;
        margin-left: 20px;
        margin-top: 8px;
        }
    .favorite-2 {
        position: relative;
        border:  1px solid #000;
        padding-left: 20px;
        margin-bottom: 40px;
        width: 550px;
        height: 555px;
        margin: 8px 59px 40px 0px;
        }
    .favorite-3 {
        position: relative;
        border:  1px solid #000;
        padding-left: 20px;
        margin-bottom: 40px;
        width: 550px;
        height: 555px;
        margin-left: 20px;
        }
    .favorite-4 {
        position: relative;
        border:  1px solid #000;
        padding-left: 20px;
        margin-bottom: 40px;
        width: 550px;
        height: 555px;
        margin: 0px 59px 40px 0px;
        }
    
    .staff-header {
        color: #000;
        font-family: 'Forum';
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 40px;
        letter-spacing: 1.3px;
        text-transform: capitalize;
        margin-top: 14px;
    }
    .capitalized {
        color: #000;
        font-family: 'Inter';
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px; 
        letter-spacing: 2px;
        text-transform: uppercase;
    }
    .book-name {
        padding: 15px 0px;
        color: #000;
        font-family: 'Inter';
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 2px;
        text-transform: capitalize;
        margin-top: 3px;
    }
    .book-description {
        color: #000;
        font-family: 'Inter';
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 40px; 
        letter-spacing: 2px;
        text-transform: capitalize;
        width: 357px;
        height: 320px;
        margin-left: 0px;
    }
    .hr-book {
        margin-left: 0px; 
        width: 60px;
        border-bottom: 1px solid #BB945F;
    }
    .book-image {
    position: absolute;
    left: 390px;
    top: 256px;
    }
    #favorite-section img {
        overflow: clip;
    }
    .buy-button {
        color: #0C0C0E;
        position: absolute;
        top: 510px;
        text-align: center;
        font-family: 'Inter';
        font-size: 10px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 1px;
        padding: 0;
        margin-bottom: 15px;
        width: 75px;
        height: 30px;
        background-color: transparent; 
    }
    .buy-button:hover {
    cursor: pointer;
    background-color: #BB945F;
    }
    .buy-button-disabled {
        color: #BB945F;
        border-color: #BB945F;
        position: absolute;
        top: 510px;
        text-align: center;
        font-family: 'Inter';
        font-size: 10px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 1px;
        padding: 0;
        margin-bottom: 15px;
        width: 75px;
        height: 31px;
        background-color: transparent; 
    }
    .header-3 {
        text-align: center;
        color: #0C0C0E;
        font-family: 'Forum';
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: 40px;
        letter-spacing: 2px;
        text-transform: capitalize;
        padding: 20px 0px 10px 0px;
    }
    .cs-description {
        color: #0C0C0E;
        width: 1400px;
        height: 120px;
        font-family: 'Inter';
        line-height: 40px;
        font-size: 20px;
        letter-spacing: 2px;
        text-align: center;
        font-weight: 400;
        margin-top: 40px;
        margin-left: 20px;
    }
    .cs-description-part2 {
        text-transform: uppercase;
    }
    .cs-price-list {
        display: flex;
        justify-content: space-between;
        gap: 450px;
        margin-right: 20px;
        margin-bottom: 40px;
        margin-left: 20px;
    }
    .coffee-tea, .desserts-cakes {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    .coffee-tea{
        width:678px;
        align-items: start;
    }
    .desserts-cakes{
        width: 722px;
        align-items: end;
    }
    .ct-header {
        font-family: 'Forum';
        color: #BB945F;
        font-size: 40px;
        line-height: 40px;
        letter-spacing: 2px;
        margin-top: 40px;
    }
    .dc-header {
        font-family: 'Forum';
        color: #BB945F;
        font-size: 40px;
        line-height: 40px;
        letter-spacing: 2px;
        margin-top: 40px;
        text-align: end;
    }
    .menu-cs-item-1{
        display: flex;
        justify-content: space-between;
        gap: 60px;
        width: 450px;
        height: 40px;
        font: 'Inter';
        font-weight: 400;
        font-size: 20px;
        line-height: 40px;
        letter-spacing: 3px;
        margin-left: 20px;
    }
    .menu-cs-item-2 {
        display: flex;
        justify-content: space-between;
        gap: 60px;
        width: 500px;
        height: 40px;
        font: 'Inter';
        font-weight: 400;
        font-size: 20px;
        line-height: 40px;
        letter-spacing: 3px;
        margin-right: 20px;
        }
    .item {
        text-align: left;
        margin-left: 0px;
    }
    .cs-line {
        align-self: center;
        display: flex;
        gap: 60px;
        align-items: center;
        margin: 0px;
    }
    .line {
        width: 100px;
        height: 1px;
        flex-shrink: 0;
        background: #BB945F;
        margin-top: 9px;
        align-self: center;
        display: flex;
        gap: 60px;
        align-items: center;
        margin: 5px 0px 0px 0px;
    }
    .price {
        margin: 0px;
        font-size: 20px;
        line-height: 40px;
        letter-spacing: 2px;
        width: 21px;
        height: 40px;
        font-weight: 400;
        font-family: 'Forum';
    }
    .desserts-cakes {
        align-items: end;
    }